/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #35df57;
}

header {
  background: #5231e4;
  color: #d9d9e6;
  padding: 20px;
  text-align: center;
} 

